Package:      yapam
Version:      0.1.2-2020.05.23
Maintainer:   Aleksey Devyatkin <dal.dev@ya.ru>
Architecture: all
Section:      web
Description:  Yet another ammo maker
Depends:      python3 (>= 3.5)
