[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
flake8 = "==3.7.9"
flake8-builtins = "==1.5.2"
flake8-bugbear = "==19.8.0"
flake8-import-order= "==0.18.1"
flake8-docstrings = "==1.5.0"
flake8-quotes = "==3.0.0"
coverage = "==5.1"
codecov = "==2.0.22"
pytest = "*"
pytest-flake8 = "*"
pytest-cov = "*"
pyinstaller = "*"

[requires]
python_version = "3.5"

[packages]
dav-utils = "==0.2.3"
